<div id="wrapper">
    <div class="container text-center" id="header" style="border: solid 1px;">
    </div>
    <br>
    <br>
    <br>
    {{!-- <div class="container">
        <div class="container">
            <div class="jumbotron text-center">
                <h4>Algorithm</h4>
            </div>
        </div> --}}
    <div class="col-md-12">
        {{#if article}}
        {{#each article}}

        <div class="panel panel-default">
            <div class="panel-heading" id={{this.id}}>
                <h4>{{this.Teams}}</h4>
                <h6>{{this.Location}}</h6>
            </div>
            <div class="panel-body">
                <p>Home Team: {{this.HomeTeam}}</p>
                <p>Away Team: {{this.AwayTeam}}</p>
                {{!-- <a href="{{this.Spread}}">Algorithm</a> --}}

            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
            </div>
        </div>
        {{/if}}
    </div>
    
</div>